.pages a {
  color: #023047;
  text-decoration: none;
  cursor: pointer;
}
.pages a:hover {
  color: #023999;
}
input[type="checkbox"] {
  position: relative;
}
input[type="checkbox"]:checked::after {
  content: "\2713";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    92.64deg,
    #b9d5fd -2.68%,
    #08235c -2.67%,
    #1c55c0 56.03%,
    #0a3168 99.79%
  );
}
.contacts__title {
  font-size: 42px;
  color: #023047;
  margin-bottom: 2rem;
}
.contacts__boxes {
  display: flex;
  justify-content: space-between;
}
.contacts__boxes .contacts__boxes-box {
  width: 56%;
}
.contacts__boxes .contacts__boxes-box .map {
  width: 100%;
}
.contacts__boxes .contacts__boxes-box .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;
}
.contacts__boxes .contacts__boxes-box .boxes .contact__box {
  width: 48%;
  background: #f8f8fa;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 1rem 1rem 2rem 1rem;
  margin: 0.8rem 0;
}
.contacts__boxes .contacts__boxes-box .boxes .contact__box h1 {
  color: #666666;
  margin-bottom: 0.5rem;
}
.contacts__boxes .contacts__boxes-box .boxes .contact__box h3 {
  font-size: 18px;
  color: #1e1c1c;
  margin: 0px;
  line-height: 22px;
}
.contacts__boxes .contacts__boxes-box .boxes .contact__box h3:first-child {
  margin-top: 1rem;
}
.contacts__boxes .r__box {
  width: 40%;
  height: 690px;
  background: #fac8be;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 2rem 2.5rem;
  border-radius: 5px;
}
.contacts__boxes .r__box .title {
  color: #023047;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}
.contacts__boxes .r__box .input {
  margin: 1.5rem 0;
}
.contacts__boxes .r__box .input .input__title {
  color: #023047;
  margin-bottom: 5px;
  font-size: 18px;
}
.contacts__boxes .r__box .input input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px 10px;
  outline: none;
}
.textarea {
  resize: none;
  padding-bottom: 5rem !important;
  outline: none;
  padding: 8px 10px;
  border-radius: 5px;
  width: 100%;
}
.contacts__boxes .r__box .r__box-button {
  width: 100%;
  text-align: center;
}
.contacts__boxes .r__box button {
  width: 100%;
  height: 45px;
  background: #ff1b1b;
  border-radius: 5px;
  color: #fcf6f6;
  font-size: 18px;
  margin-top: 2rem;
}
.contacts__boxes .r__box button:hover {
  box-shadow: unset !important;
  background: #ee3111;
}
@media only screen and (min-width: 800px) and (max-width: 1025px) {
  .contacts__boxes .r__box {
    height: 100%;
  }
  .contacts__boxes .r__box .title {
    font-size: 21px;
  }
  .contacts__boxes .r__box .input {
    margin: 1rem 0;
  }
  .contacts__boxes .r__box .input input {
    padding: 5px 10px;
  }
  .textarea {
    padding-bottom: 6rem !important;
  }
  .contacts__boxes .r__box button {
    margin-top: 0.8rem;
    width: 70%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 769px) {
  .contacts__boxes {
    flex-wrap: wrap;
  }
  .contacts__boxes .contacts__boxes-box {
    width: 100%;
  }
  .contacts__boxes .r__box {
    width: 80% !important;
    margin: auto !important;
    height: 680px;
    margin-bottom: 3rem !important;
  }
  .contacts__boxes .r__box button {
    width: 80%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  .pages {
    padding: 20px 16px !important;
  }
  .pages a {
    font-size: 12px !important;
  }
  .contacts__boxes .contacts__boxes-box .boxes .contact__box {
    width: 100%;
    margin: 1rem auto;
  }
  .contacts__boxes .r__box {
    height: auto;
    padding: 1.5rem;
  }
  .contacts__boxes .r__box .title {
    font-size: 24px;
    line-height: 24px;
  }
  .contacts__boxes .r__box .input {
    margin: 12px 0;
  }
  .contacts__boxes .r__box button {
    margin-top: 1rem;
    width: 100%;
  }
  .textarea {
    padding-bottom: 5rem !important;
  }
  .contacts__title {
    font-size: 22px;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 415px) {
  .pages {
    padding: 20px 16px !important;
  }
  .pages a {
    font-size: 12px !important;
  }
  .contacts__title {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  .contacts__boxes .contacts__boxes-box .boxes .contact__box {
    width: 100%;
    margin: 8px auto;
    padding: 10px;
  }
  .contacts__boxes .contacts__boxes-box .boxes .contact__box h3 {
    font-size: 14px;
  }
  .contacts__boxes .r__box {
    width: 100% !important;
    height: auto !important;
    padding: 1.5rem;
  }
  .contacts__boxes .r__box .title {
    font-size: 20px;
  }
  .contacts__boxes .r__box .input .input__title {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .contacts__boxes .r__box .input {
    margin: 12px 0;
  }
  .contacts__boxes .r__box .input input {
    padding: 8px 10px;
  }
  .contacts__boxes .r__box button {
    margin-top: 1rem;
    font-size: 13px;
  }
  .textarea {
    padding-bottom: 3rem !important;
  }
}

@media (max-width: 300px) {
  .contacts__boxes .r__box {
    width: 100% !important;
    padding: 10px !important;
  }
}

.requisites .requisites__title {
  font-size: 42px;
  margin-bottom: 2rem;
  color: #023047;
}
.requisites .text {
  display: flex;
  margin: 1.5rem 0;
}
.requisites .text span {
  color: #898989;
  font-size: 20px;
  width: 25%;
}
.requisites h3 {
  color: #023047;
  font-size: 20px;
  margin: 1rem 0;
}
.requisites .text p {
  color: #023047;
  margin-left: 5rem;
  font-size: 20px;
  width: 50%;
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .order-menu ul a {
    font-size: 13px;
  }
  .order-menu {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 769px) {
  .order-menu {
    display: none;
  }
  .requisites .text span {
    font-size: 18px;
    width: 31%;
  }
  .requisites .text p {
    font-size: 18px;
  }
  .requisites h3 {
    font-size: 18px;
    padding: 1rem 0;
    margin: 0;
  }
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  .pages {
    padding: 12px 0 !important;
  }
  .pages a {
    font-size: 12px !important;
  }
  .requisites .requisites__title {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  .requisites .text {
    flex-direction: column;
    margin: 12px 0;
  }
  .requisites .text span {
    width: 100%;
  }
  .requisites .text p {
    font-size: 16px;
    margin-left: 0;
    width: 100%;
  }
  .contacts-page {
    padding: 12px 0 !important;
  }
}
@media only screen and (max-width: 376px) {
  .pages {
    padding: 0 12px !important;
  }
  .pages a {
    font-size: 12px !important;
  }
  .requisites .requisites__title {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  .requisites .text {
    flex-direction: column;
    margin: 12px 0;
  }
  .requisites .text span {
    width: 100%;
    font-size: 16px;
  }
  .requisites .text p {
    font-size: 14px;
    margin-left: 0;
    width: 100%;
  }
  .requisites h3 {
    font-size: 14px;
    padding: 0.5rem 0;
  }
  .contacts-page {
    padding: 12px 0 !important;
  }
}

.contacts__soc {
  @media (max-width: 767px) {
    * {
      margin-right: 0 !important;
    }
  }
}
