.table{
    overflow-x: auto;
    display: flex;
}
table{
    border-spacing: 0;
    width: 100%;
    margin-bottom: 5rem;
}
table thead tr.contract-tr{
    background: #FF9500;
}
table tr:first-child th:first-child{
    border-radius: 8px 0 0 0;
}
table tr:first-child th:last-child{
    border-radius: 0 8px 0 0;
}
table tr{
    background: #F8F8FA;
    border-bottom: 1px solid #DBDBDB;
}
table tr th{
    font-size: 18px;
    text-align: center;
    padding: 1.5rem 1rem;
    color: #fff;
    white-space: nowrap;
}
table tr td{
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 18px;
    white-space: nowrap;
}
.paid{
    color: #06AD49;
}
.no__closed{
    color: #DBA20F;
}
.download{
    color: #131E3D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download i{
    margin-right: 12px;
    font-size: 24px;
}

@media (max-width: 600px){
    .pages {
        padding: 20px 16px !important;
    }
    .pages a {
        font-size: 12px;
    }
    .title{
        font-size: 22px;
        margin-bottom: 10px;
    }
    table tr th{
        font-size: 16px;
    }
    table tr td{
        font-size: 14px;
    }
    .download i{
        font-size: 18px;
    }
}