.address__box {
  padding: 20px 30px;
  .active {
    border: 1px solid #131e3d;
    color: #131e3d;
  }
}
.address__button {
  margin-top: 20px;
}
.address__title h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
}
.btn1 {
  border: 1px solid #898989;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #898989;
  margin-right: 20px;
}
.btn2 {
  border: 1px solid #898989;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #898989;
  margin-right: 20px;
}
.btn3 {
  border: 1px solid #898989;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #898989;
}
.delivery__cancel button {
  font-size: 26px;
}

input[type="radio"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="radio"]:before {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  background: #fff;
  content: "";
}
input[type="radio"]:checked:before {
  border: 1px solid #ff1b1b;
}
input[type="radio"]:checked:after {
  position: relative;
  display: inline-block;
  visibility: visible;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background: #ff1b1b;
  content: "";
}
@media (min-width: 200px) and (max-width: 600px) {
  .address__button {
    display: flex;
    flex-wrap: wrap;
  }
  .address__button button {
    margin-top: 10px;
  }
  .address__title h5 {
    font-size: 20px;
  }
  .delivery__cancel button {
    font-size: 22px;
  }
}
