.menu-list{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    li{
        &:not(:first-child){
            margin-left: auto !important;
        }
        @media (max-width: 769px){
            margin-right: 2rem;
        }
    }
}
.menu-list li a{
    color: #313131;
    white-space: nowrap;
    cursor: pointer;
}
.menu-list li a:hover, .menu-list li a:hover svg{
    fill: #919191;
    color: #919191;
}
@media (max-width: 600px){
    .menu-list li a{
        font-size: 14px;
    }
    .mt-8{
        margin-top: 1rem;
    }
    .mb-8{
        margin-bottom: 1rem;
    }
}